@import '../Variables';

.toast-container {
  left: 0 !important;
  margin: 0 !important;
  padding: 0 1em !important;
  width: 100% !important;
}

.toast-message {
  @extend .responsive-container;
  border-radius: 10px !important;
  font-family: $body-font !important;
  font-weight: bold;
  text-align: center;
  @media (max-width: $break-md) {
    font-size: 0.9em;
  }
}

.toast-transition-fadein {
  animation-name: fadeIn;
}

.toast-transition-fadeout {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.cookiePrompt {
  background-color: rgba(0, 0, 0, 0.95);
  bottom: 0%;
  font-size: 1em;
  margin: 0;
  padding: 0.7em;
  position: sticky;
  width: 100%;
  z-index: 1100;

  div {
    @extend .responsive-container;
    align-items: center;
    display: flex;

    span {
      color: #fff;
      font-family: $title-font;
      margin: 0 auto;
      padding-right: 1em;

      a {
        color: #fff;
        text-decoration: underline;
      }
    }

    button {
      @extend .invisible_button;
    }
  }
  @media (max-width: $break-md) {
    font-size: 0.8em;
  }
}