@import "../variables";

.button {
  color: white;
  font-family: $body-font;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  user-select: none;
  &:focus { outline: none; }
  &:active {
    -webkit-transition-duration: .1s;
    transition-duration: .1s; }
  @media (max-width: $break-md) { min-width: initial; }
}

.form-buttons {
  @extend .button;
  border: 1px solid white;
  border-radius: 15px;
  min-width: 200px;
  padding: 1em;
  @media (max-width: $break-md) {
    min-width: initial;
    width: 48%;
  }
}

.submit {
  &-default {
    @extend .form-buttons;
    background-color: rgba(57, 17, 68, 0.5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(91, 27, 112, 0.5); }
    &:active { box-shadow: inset 0 0 100px 100px $primary-dark; } }
  &-blackex {
    @extend .form-buttons;
    background-color: rgba(17, 68, 66, 0.5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(27, 109, 112, 0.5); }
    &:active { box-shadow: inset 0 0 100px 100px rgba(8, 33, 34, 0.8); } }
  &-mental {
    @extend .form-buttons;
    background-color: rgba(17, 68, 37, 0.5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(27, 112, 52, 0.5); }
    &:active { box-shadow: inset 0 0 100px 100px rgba(8, 34, 16, 0.8); }
  }
}

.delete {
  @extend .form-buttons;
  background-color: rgba(220, 0, 0, .5);
  &:hover { box-shadow: inset 0 0 100px 100px rgba(255, 55, 55, 0.3); }
  &:active { box-shadow: inset 0 0 100px 100px rgba(255, 0, 0, 0.5);; }
}

.cancel {
  &-default {
    @extend .form-buttons;
    background-color: rgba(142, 116, 171, .5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(190, 155, 229, .3); }
    &:active { box-shadow: inset 0 0 100px 100px rgba(173, 127, 224, .5); } }
  &-blackex {
    @extend .form-buttons;
    background-color: rgba(116, 163, 171, 0.5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(155, 220, 229, 0.3); }
    &:active { box-shadow: inset 0 0 100px 100px rgba(127, 221, 224, 0.5); } }
  &-mental {
    @extend .form-buttons;
    background-color: rgba(116, 171, 123, 0.5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(155, 229, 177, 0.3); }
    &:active { box-shadow: inset 0 0 100px 100px rgba(127, 224, 159, 0.5); }
  }
}

.add {
  @extend .button;
  @media (max-width: $break-md) { font-size: 80%; }
}

.widgets { font-family: $body-font; }