@import '../Variables';
@import './Button.module.scss';

.formHeading {
  @extend .text;
  font-size: 2.2em;
  margin-bottom: 0.5em;
  @media (max-width: $break-md) {
    font-size: 1.8em;
    text-align: center;
  }
}

.group {
  padding: 0.2em 0;
  @media (max-width: $break-md) {
    margin-bottom: 0 !important;
    padding: 0;
  }
  .label {
    color: white;
    display: block;
    font-family: $title-font;
    font-size: 1.1em;
  }
  .labelInfo {
    display: flex;
    align-items: baseline;
  }
  .input, .textarea-v2 {
    @extend .text;
    background: none;
    border-style: none;
    border-radius: 0;
    border-bottom: $underline;
    font-size: 1.2em;
    outline: none;
    padding: 0.4em;
    width: 100%;
    @media (max-width: $break-md) {
      font-size: 1em;
      padding: 0.4em 0;
    }
  }
  .click-input {
    @extend .invisible_button;
    padding: 0;
    width: 100%;
  }
  // TODO: Remove eventually
  .textarea {
    @extend .input;
    border-bottom: $underline !important;
    font-size: 1.2em;
    padding: 0.4em;
    @media (max-width: $break-md) {
      font-size: 1em;
      padding: 0.4em 0;
    }
  }
  // TODO: Remove "wordcount" eventually
  .wordcount, .word-count {
    color: $faded-white;
    font-family: $title-font;
    margin: 0;
    text-align: right;
    width: 100%;
  }
  .select {
    @extend .input;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    option {
      background: $dark;
    }
  }
  .checkbox {
    @extend .text;
    display: flex;
    align-items: baseline;
    .box {
      margin-right: 0.5em;
    }
  }

  @media (max-width: $break-md) {
    > div {
      margin: 0.8em 0;
    }
  }
}

.formattingGuide {
  div {
    margin-bottom: 1em;
  }
  .heading {
    @include font-scaler(2);
    padding-bottom: 0.4em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid white;
  }
  .subheading {
    font-family: $title-font;
  }
}

.searchContainer {
  background: $dark;
  border-radius: 30px;
  padding: 0.3em 0.7em;
  @media (max-width: $break-md) {
    width: 75%;
  }
  .searchBar {
    @extend .text;
    background: none;
    border-style: none;
    min-width: 250px;
    outline: none;
    @media (max-width: $break-md) {
      font-size: 1em;
      min-width: initial;
      width: 90%;
    }
  }
}

.info-circle {
  margin-left: 0.5em;
}

/******************************/
/** datepicker ****************/
/******************************/

.datepicker-field {
  display: flex;
  align-items: center;
  border-bottom: $underline;

  .datepicker {
    all: initial;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.2em 0;

    .calendar-icon {
      margin: 0 0.2em 0 0.4em !important;
      @media (max-width: $break-md) {
        margin-right: 0.5em !important;
      }
    }

    .datepicker-text-input {
      border-style: none !important;
      cursor: pointer;
    }
  }
}

.datepicker-modal {
  justify-content: space-evenly;
  padding: 2em;

  select {
    font-size: 1.4em !important;
    @media (max-width: $break-md) {
      font-size: 1.2em !important;
    }
  }
}

/******************************/
/** dropdown ******************/
/******************************/

.dropdown_menu {
  background-color: $dark !important;
  border-radius: 10px;
  overflow: hidden;
  width: max-content;
  .dropdown_item {
    padding: 0.5em 1em;
  }
  a {
    color: white;
  }
}

.filter_menu {
  background-color: $dark !important;
  border-radius: 10px;
  padding: 1em !important;
  overflow: hidden;
  white-space: nowrap;
  label {
    align-items: baseline;
    color: white;
    display: flex;
  }
  input[type='checkbox'] {
    margin-right: 0.5em;
  }
}

/****************/
/** rator *******/
/****************/

.rator-star-bar {
  display: flex;
  padding: 0.8em 0 0;

  .rator-star-button {
    @extend %invisible-button;
    padding: 0;
  }
  
  .rator-star-icon {
    font-size: 1.6em;
  }
}

/****************/
/** subscribe *******/
/****************/

.subscribe-input {
  font-size: 1.1em !important;
  margin-bottom: 1em;
}
