@import '../Variables';

.modal_header,
.modal_body,
.modal_footer {
  background: $dark;
}

.modal_body,
.modal_footer {
  border-style: none !important;
}

.modal_footer {
  padding-top: 0 !important;
}

.social-modal-fields {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.social-modal-icons {
  font-size: 1.4em;
  width: 35px;
}

.clear {
  @extend .invisible_button;
  color: skyblue;
  font-size: 0.8em;
  margin-top: 0.4em;
  text-align: right;

  &:hover {
    text-decoration: underline;
  }
}
