@import '../Variables';

.modal-header,
.modal-body,
.modal-footer {
  background: $dark;
}

.modal-body,
.modal-footer {
  border-style: none !important;
}

.modal-footer {
  padding-top: 0 !important;
}

.social-modal-dialog {
  max-width: 600px !important;
}

.social-modal-fields {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.social-modal-icons {
  font-size: 1.4em;
  width: 35px;
}

.ethnic-modal-fields {
  margin: 1em 0;
}

.ethnic-clear-button {
  @extend %invisible-button;
  color: $skyblue;
  font-size: 0.8em;
  margin-top: 0.4em;
  text-align: right;

  &:hover {
    text-decoration: underline;
  }
}
