@import '../Variables';

.title {
  color: white;
  font-family: $title-font;
}
.subtitle {
  color: white;
  font-family: $body-font;
}
.paragraph {
  color: white;
  display: inline;
  font-family: $body-font;
  white-space: pre-line;
  .heading {
    font-family: $title-font;
    font-size: 1.8em;
    padding: 0.4em 0;
  }
  .subheading {
    font-family: $title-font;
    font-size: 1.2em;
    padding: 0.2em 0;
  }
  .body {
    line-height: 1.7;
    margin-bottom: 2rem;
  }

  .numbered-list-item {
    line-height: 1.7;
  }

  .numbered-list-item + .numbered-list-item {
    margin-bottom: 1.3rem;
  }

  .floatImage {
    margin: 1.5em 0;
    width: 100%;
    img {
      border-radius: 50%;
      border: 2px inset rgba(255, 255, 255, 0.8);
      width: 50%;
      float: right;
      margin: 0 0 1em 1em;
      shape-outside: ellipse(50%);
      @media (max-width: $break-md) {
        all: initial;
        border-radius: 30px;
        width: 100%;
      }
    }
  }
  .fullImage {
    margin: 1.5em 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
}
.divider {
  background-color: white;
  overflow: hidden;
}

.quote-wrapper {
  margin-top: 1em;
  position: relative;

  %quotes {
    @include font-scaler(6);
    color: white;
    display: inline-block;
    font-family: 'Yeseva One', cursive;
    line-height: 0;
  }

  .quote-left {
    @extend %quotes;
    float: left;
    margin-top: 0.45em;
    padding-right: 0.1em;
  }

  .quote-right {
    @extend %quotes;
    float: right;
    padding-left: 0.1em;
  }
}

.readmore {
  @include font-scaler(1.1);
  color: skyblue;
  cursor: pointer;
  display: block;
  font-family: $body-font;
  margin-top: 0.5em;
  &:hover {
    text-decoration: underline;
  }
  .linkIcon {
    @include font-scaler(1.1);
    color: skyblue;
  }
}
.expandText {
  @include font-scaler(1.1);
  color: skyblue;
  cursor: pointer;
  display: block;
  font-family: $body-font;
  &:hover {
    text-decoration: underline;
  }
}

.noUnderline {
  &:hover {
    text-decoration: none;
  }
}
