@import "../Variables";

.title {
  color: white;
  font-family: $title-font;
}
.subtitle {
  color: white;
  font-family: $body-font;
}
.paragraph {
  color: white;
  display: inline;
  font-family: $body-font;
  white-space: pre-line;
  .heading {
    font-family: $title-font;
    font-size: 1.8em;
    padding: .4em 0;}
  .subheading {
    font-family: $title-font;
    font-size: 1.2em;
    padding: .2em 0;}
  .body {
    line-height: 1.7;
    margin-bottom: 2rem; }
  .listitem {
    display: grid;
    grid-template-columns: 1.5em 1fr;
  }
  .floatImage {
    margin: 1.5em 0;
    width: 100%;
    img {
      border-radius: 50%;
      border: 2px inset rgba(255,255,255,.8);
      width: 50%;
      float: right;
      margin: 0 0 1em 1em;
      shape-outside: ellipse(50%);
      @media (max-width: $break-md) {
        all: initial;
        border-radius: 30px;
        width: 100%; }
    }
  }
  .fullImage {
    margin: 1.5em 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
}
.divider {
  background-color: white;
  overflow: hidden;
}
.quoteWrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 1em;
  .quotes {
    @include font-scaler(6);
    color: white;
    font-family: 'Yeseva One', cursive;
    line-height: 0; }
  .quoteLeft {
    @extend .quotes;
    align-self: flex-start;
    padding-top: .5em;
    padding-right: 8px; }
  .quoteRight {
    @extend .quotes;
    align-self: end;
    padding-left: 8px;
    @media (max-width: $break-md) { padding-bottom: .35em; }
  }
}
.readmore {
  @include font-scaler(1.1);
  color: skyblue;
  cursor: pointer;
  display: block;
  font-family: $body-font;
  margin-top: .5em;
  &:hover { text-decoration: underline; }
  .linkIcon {
    @include font-scaler(1.1);
    color: skyblue;
  }
}
.expandText {
  @include font-scaler(1.1);
  color: skyblue;
  cursor: pointer;
  display: block;
  font-family: $body-font;
  &:hover { text-decoration: underline; }
}