@import '../Variables';

/************
*** index.js
*************/

.igrid {
  @include responsive-grid(4);
  width: 100%;
  @media (max-width: $break-md) {
    border: none;
  }
  .icontainer {
    &:hover {
      z-index: 1;
    }
    .cell {
      @include scale-on-hover(1.07);
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      margin: 1em;
      .image {
        width: 100%;
      }
      .details {
        display: grid;
        grid-template-columns: 4em auto;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.8em 0.5em;
        text-align: left;
        .title {
          @include font-scaler(1.2);
        }
        .date {
          @include font-scaler(0.8);
        }
        .authorImage {
          border-radius: 50%;
          margin-right: 0.5em;
          overflow: hidden;
          width: 50px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

/*************
*** single.js
*************/

.columnparts {
  @media (max-width: $break-md) {
    padding: 0 !important;
  }
}

.container {
  margin: 1em 0;
  .title {
    @include font-scaler(3);
    line-height: 1.2;
    margin-bottom: .2em;
  }
  .content {
    @include font-scaler(1.25);
  }
  .image {
    border-radius: 10px;
    margin: 1em 0;
    width: 100%;
  }
  .authorProfile {
    .author {
      @include font-scaler(0.8);
      // font-style: italic;
    }
    .name {
      @include font-scaler(1.15);
    }
    .description {
      @include font-scaler(.95);
      margin-bottom: 0;
    }
  }
  .details {
    @include font-scaler(0.8);
    .author {
      @extend .link-default;
      text-decoration: none !important;
    }
  }
}

.authorImage {
  border-radius: 50%;
  float: left;
  margin-right: 0.7em;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.detailsThumbnail {
  @extend .authorImage;
  width: 42px;
}

.authorThumbnail {
  @extend .authorImage;
  width: 96px;
}

.readmore {
  @include font-scaler(.9);
}

.tagblock {
  .tag {
    @include font-scaler(0.7);
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(230, 212, 255, 1) 100%
    );
    border-radius: 30px;
    color: black;
    display: inline-block;
    line-height: 3;
    font-family: $title-font;
    margin: 0.2em;
    padding: 0 1.2em;
  }
}

/************
*** admin.js
*************/

.articleTabler {
  @include entityTabler(4% 15% 15% 1fr 7% 1fr 4% 4% 4%);
}

.listImage {
  border-radius: 10px;
  margin: .5em 0;
  max-width: 50%;
  max-height: 100px;
  overflow: hidden;
}

/*************
*** form.js
*************/

.form {
  @extend .responsive-form;
}

/*************
*** single.sidebar.js
*************/

.sidebar {
  background: $sidebar;
  padding: 1em;
  .heading {
    @include font-scaler(1.7);
  }
  .item {
    @include scale-on-hover(1.03);
    cursor: pointer;
    .title {
      @include font-scaler(1.2);
    }
    .content {
      @include font-scaler(1);
    }
    .image {
      border-radius: 10px;
      margin: 1em 0;
      width: 100%;
    }
    .details {
      @include font-scaler(0.7);
      .author {
        @extend .link-default;
        text-decoration: none !important;
      }
    }
  }
}

/*************
*** index.sidebar.js
*************/

