@import '../Variables';

.cover {
  @media (max-width: $break-sm) {
    background-position: center;
    text-align: left;
  }
}

/** Override colour of home links **/
.paragraph {
  a {
    color: skyblue !important;

    &:hover {
      color: #2babb4 !important;
    }
  }
}

.home-country-flags {
  @extend %country-flags;
  margin-left: 0.3em;
}

/********************
* home.threepart.js
********************/

.home-threepart {
  overflow-x: hidden;

  @media (min-width: $break-lg) {
    height: 32vw;
  }
}

.home-threepart-column {
  padding: 1em 0.5em;

  @media (max-width: $break-lg) {
    padding: 1em;
  }
}

.home-threepart-part {
  @include scale-on-hover(1.04);
  align-items: center;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding-bottom: 1.5em;
  text-align: center;
  width: 100%;

  @media (max-width: $break-lg) {
    height: 50vw;
  }
  @media (max-width: $break-sm) {
    height: 100vw;
  }
  @media (max-width: $break-lg) and (min-width: $break-md) {
    background-position-y: -5vh;
  }
}

.home-threepart-caption {
  vertical-align: top;
  width: 80%;

  @media (max-width: $break-lg) and (min-width: $break-md) {
    width: 60%;
  }
}

.home-threepart-headline {
  @include font-size-changer(2.2, 1.9);
  color: #fff;
  font-family: $title-font;
}

.home-threepart-description {
  @include font-size-changer(1, 0.85);
  color: #fff;
  font-family: $body-font;
  text-align: center;
}

@mixin bg-colorizer($red, $green, $blue) {
  background-color: rgba($red, $green, $blue, 0.2);

  &:hover {
    background-color: rgba($red, $green, $blue, 0.3);
  }
}

/********************
* home.candidate.js
* home.session.js
********************/

%featured-advert {
  height: 100%;
  padding: 0.5em 1em;
  text-align: center;
  transition: all 0.3s;

  .featured-advert-heading {
    @include font-size-changer(1.5, 1.4);
    margin: 0.5em 0;
    text-transform: uppercase;
  }

  .featured-advert-image {
    @include scale-on-hover(1.03);
    border: $secondary-border;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.8em;
    width: 60%;
    @media (max-width: $break-md) {
      width: 100%;
    }
  }

  .featured-advert-details {
    margin: 0 auto 2em;
    width: 90%;

    .featured-advert-title {
      @include font-size-changer(1.4, 1.2);
    }

    .featured-advert-subtitle {
      @include font-size-changer(1.1, 1);
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .featured-advert-paragraph {
      @include font-size-changer(1.1, 0.95);
    }

    @media (max-width: $break-md) {
      width: 100%;
    }
  }
}

.home-featured-session {
  @extend %featured-advert;
  @include bg-colorizer(156, 0, 43);
}

.home-random-candidate {
  @extend %featured-advert;
  @include bg-colorizer(0, 141, 158);
}

/********************
* home.topics.js
********************/

.home-random-topic {
  @include bg-colorizer(14, 27, 179);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  text-align: center;
  transition: all 0.3s;
  width: 100%;

  .random-topic-heading {
    @include font-size-changer(1.8, 1.5);
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .random-topic-container {
    @extend .responsive-container;

    .random-topic-headline {
      @include font-size-changer(2, 1.7);
    }

    .random-topic-question {
      @include font-size-changer(1.4, 1.2);
    }

    .random-topic-voter {
      margin: 1em 0;
    }

    .random-topic-vote-thanks {
      @extend %text;
      margin-top: 1em;
    }
  }
}

/********************
* home.member.js
********************/

.home-random-member {
  @include bg-colorizer(97, 72, 0);
  padding: 0.5em 1em;
  transition: all 0.3s;
  width: 100%;

  @media (max-width: $break-sm) {
    text-align: center;
  }
}

.random-member-container {
  margin: 2em auto;
  width: 90%;

  @media (max-width: $break-sm) {
    width: 100%;
  }
}

.random-member-heading {
  @include font-size-changer(1.7, 1.4);
  margin-bottom: 1em;
  text-transform: uppercase;
}

.random-member-image {
  @include scale-on-hover(1.03);
  border: $secondary-border;
  border-radius: 45%;
  cursor: pointer;
  float: left;
  max-width: 500px;
  width: 100%;
  @media (max-width: $break-sm) {
    margin-bottom: 1em;
  }
}

.random-member-details {
  margin: 0 auto;

  .random-member-name {
    @include font-size-changer(1.6, 1.35);
  }

  .random-member-role {
    @include font-size-changer(1.3, 1.05);
    align-items: center;
    display: flex;
    justify-content: flex-start;
    @media (max-width: $break-sm) {
      justify-content: center;
    }
  }

  .random-member-preview {
    @include font-size-changer(1.3, 1);
  }

  @media (max-width: $break-sm) {
    width: 100%;
  }
}
