@import '../Variables';

.cover {
  @media (max-width: $break-sm) {
    background-position: center;
    text-align: left;
  }
}

/** Override colour of home links **/
.paragraph {
  a {
    color: skyblue !important;

    &:hover {
      color: #2babb4 !important;
    }
  }
}

.home-country-flags {
  @extend %country-flags;
  margin-left: 0.3em;
}

.threepart {
  overflow-x: hidden;

  .colpart {
    padding: 1em 0.5em;

    .part {
      @include scale-on-hover(1.04);
      align-items: center;
      background-size: cover;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      padding-bottom: 1.5em;
      text-align: center;
      width: 100%;

      .caption {
        vertical-align: top;
        width: 80%;

        .headline {
          @include font-scaler(2.2);
          color: white;
          font-family: $title-font;
        }

        .description {
          @include font-scaler(1);
          color: white;
          font-family: $body-font;
          text-align: center;
        }
        @media (max-width: $break-lg) and (min-width: $break-md) {
          width: 60%;
        }
      }
      @media (max-width: $break-lg) {
        height: 50vw;
      }
      @media (max-width: $break-sm) {
        height: 100vw;
      }
      @media (max-width: $break-lg) and (min-width: $break-md) {
        background-position-y: -5vh;
      }
    }
    @media (max-width: $break-lg) {
      padding: 1em;
    }
  }
  @media (min-width: $break-lg) {
    height: 32vw;
  }
}

.advertiser {
  height: 100%;
  padding: 0.5em 1em;
  text-align: center;
  transition: all 0.3s;

  .heading {
    @include font-size-changer(1.5, 1.4);
    margin: 0.5em 0;
    text-transform: uppercase;
  }

  .image {
    @include scale-on-hover(1.03);
    border: $secondary-border;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.8em;
    width: 60%;
    @media (max-width: $break-md) {
      width: 100%;
    }
  }

  .details {
    margin: 0 auto 2em;
    width: 90%;

    .title {
      @include font-size-changer(1.4, 1.2);
    }

    .subtitle {
      @include font-size-changer(1.1, 1);
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .paragraph {
      @include font-size-changer(1.1, 0.95);
    }
    @media (max-width: $break-md) {
      width: 100%;
    }
  }
}

.upcomingSession {
  @extend .advertiser;
  background-color: rgba(156, 0, 43, 0.2);

  &:hover {
    background-color: rgba(156, 0, 43, 0.35);
  }
}

/********************
* home.candidate.js
********************/
.home-random-candidate {
  @extend .advertiser;
  background-color: rgba(0, 141, 158, 0.2);

  &:hover {
    background-color: rgba(0, 141, 158, 0.35);
  }
}

/********************
* home.topics.js
********************/

.topicVoter {
  align-items: center;
  background-color: rgba(14, 27, 179, 0.2);
  display: flex;
  justify-content: center;
  padding: 2em 0;
  text-align: center;
  transition: all 0.3s;
  width: 100%;

  &:hover {
    background-color: rgba(14, 27, 179, 0.35);
  }

  .heading {
    @include font-scaler(1.8);
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .container {
    @extend .responsive-container;

    .headline {
      @include font-scaler(2);
    }

    .question {
      @include font-scaler(1.4);
    }

    .voter {
      margin: 1em 0;
    }

    .voteCount {
      @extend .text;
    }

    .voteThanks {
      @extend .text;
      margin-top: 1em;
    }
  }
}

/********************
* home.member.js
********************/

.home-random-member {
  background-color: rgba(97, 72, 0, 0.2);
  padding: 0.5em 1em;
  transition: all 0.3s;
  width: 100%;

  &:hover {
    background-color: rgba(97, 72, 0, 0.35);
  }

  @media (max-width: $break-sm) {
    text-align: center;
  }
}

.random-member-container {
  margin: 2em auto;
  width: 90%;

  @media (max-width: $break-sm) {
    width: 100%;
  }
}

.random-member-heading {
  @include font-size-changer(1.7, 1.4);
  margin-bottom: 1em;
  text-transform: uppercase;
}

.random-member-image {
  @include scale-on-hover(1.03);
  border: $secondary-border;
  border-radius: 45%;
  cursor: pointer;
  float: left;
  max-width: 500px;
  width: 100%;
  @media (max-width: $break-sm) {
    margin-bottom: 1em;
  }
}

.random-member-details {
  margin: 0 auto;

  .random-member-name {
    @include font-size-changer(1.6, 1.35);
  }

  .random-member-role {
    @include font-size-changer(1.3, 1.05);
    align-items: center;
    display: flex;
    justify-content: flex-start;
    @media (max-width: $break-sm) {
      justify-content: center;
    }
  }

  .random-member-preview {
    @include font-size-changer(1.3, 1);
  }

  @media (max-width: $break-sm) {
    width: 100%;
  }
}
