@import '../Variables';

@mixin bg-colorizer($red, $green, $blue) {
  background-color: rgba($red, $green, $blue, 0.2);

  &:hover {
    background-color: rgba($red, $green, $blue, 0.3);
  }
}

.home-country-flags {
  @extend %country-flags;
  margin-left: 0.3em;
}

/********************
* home.js
********************/

.home-cover {
  @media (max-width: $break-sm) {
    background-position: center;
    text-align: left;
  }
}

/** Override colour of home links **/
.paragraph {
  a {
    color: skyblue !important;

    &:hover {
      color: #2babb4 !important;
    }
  }
}

/********************
* home.threepart.js
********************/

.home-threepart {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  overflow-x: hidden;
  padding: 1em 0.5em;

  @media (max-width: $break-sm) {
    grid-template-columns: 100%;
  }
}

// .home-threepart-column {
//   padding: 1em 0.5em;

//   @media (max-width: $break-lg) {
//     padding: 1em;
//   }
// }

.home-threepart-part {
  @include scale-on-hover(1.04);
  align-items: flex-end;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  height: 50vh;
  justify-content: center;
  margin: 0 1em;
  max-height: 500px;
  padding-bottom: 1.5em;
  text-align: center;
  width: 95%;

  @media (max-width: $break-sm) {
    margin: 0.5em 0;
    max-height: 375px;
    width: 100%;
  }

  // @media (max-width: $break-lg) {
  //   height: 50vw;
  // }
  // @media (max-width: $break-sm) {
  //   height: 100vw;
  // }
  // @media (max-width: $break-lg) and (min-width: $break-md) {
  //   background-position-y: -5vh;
  // }
}

.home-threepart-caption {
  width: 80%;
}

.home-threepart-headline {
  @include responsive-font(2.2em, $md: 2em, $sm: 1.9em);
  color: #fff;
  font-family: $title-font;
}

.home-threepart-description {
  @include responsive-font(1em, $sm: 0.85em);
  color: #fff;
  font-family: $body-font;
  text-align: center;
}

/********************
* home.candidate.js
* home.session.js
********************/

%featured-advert {
  height: 100%;
  padding: 0.5em 1em;
  text-align: center;
  transition: all 0.3s;

  .featured-advert-heading {
    @include responsive-font(1.5em, $sm: 1.4em);
    margin: 0.5em 0;
    text-transform: uppercase;
  }

  .featured-advert-image {
    @include scale-on-hover(1.03);
    border: $secondary-border;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.8em;
    width: 60%;
    @media (max-width: $break-md) {
      width: 100%;
    }
  }

  .featured-advert-details {
    margin: 0 auto 2em;
    width: 90%;

    .featured-advert-title {
      @include responsive-font(1.4em, $sm: 1.2em);
    }

    .featured-advert-subtitle {
      @include responsive-font(1.1em, $sm: 1em);
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .featured-advert-paragraph {
      @include responsive-font(1.1em, $sm: 0.95em);
    }

    @media (max-width: $break-md) {
      width: 100%;
    }
  }
}

.home-featured-session {
  @extend %featured-advert;
  @include bg-colorizer(156, 0, 43);
}

.home-random-candidate {
  @extend %featured-advert;
  @include bg-colorizer(0, 141, 158);
}

/********************
* home.topics.js
********************/

.home-random-topic {
  @include bg-colorizer(14, 27, 179);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  text-align: center;
  transition: all 0.3s;
  width: 100%;

  .random-topic-heading {
    @include responsive-font(1.8em, $sm: 1.5em);
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .random-topic-container {
    @extend .responsive-container;

    .random-topic-headline {
      @include responsive-font(2em, $sm: 1.7em);
    }

    .random-topic-question {
      @include responsive-font(1.4em, $sm: 1.2em);
    }

    .random-topic-voter {
      margin: 1em 0;
    }

    .random-topic-vote-thanks {
      @extend %text;
      margin-top: 1em;
    }
  }
}

/********************
* home.member.js
********************/

.home-random-member {
  @include bg-colorizer(97, 72, 0);
  padding: 0.5em 1em;
  transition: all 0.3s;
  width: 100%;

  @media (max-width: $break-sm) {
    text-align: center;
  }
}

.random-member-container {
  margin: 2em auto;
  width: 90%;

  @media (max-width: $break-sm) {
    width: 100%;
  }
}

.random-member-heading {
  @include responsive-font(1.7em, $sm: 1.4em);
  margin-bottom: 1em;
  text-transform: uppercase;
}

.random-member-image {
  @include scale-on-hover(1.03);
  border: $secondary-border;
  border-radius: 45%;
  cursor: pointer;
  float: left;
  max-width: 500px;
  width: 100%;
  @media (max-width: $break-sm) {
    margin-bottom: 1em;
  }
}

.random-member-details {
  margin: 0 auto;

  .random-member-name {
    @include responsive-font(1.6em, $sm: 1.35em);
  }

  .random-member-role {
    @include responsive-font(1.3em, $sm: 1.05em);
    align-items: center;
    display: flex;
    justify-content: flex-start;
    @media (max-width: $break-sm) {
      justify-content: center;
    }
  }

  .random-member-preview {
    @include responsive-font(1.3em, $sm: 1em);
  }

  @media (max-width: $break-sm) {
    width: 100%;
  }
}
