@import "../Variables";

/************
*** index.js
*************/

.memberTabler {
  @include entityTabler(4% 15% 4% .6fr 1.3fr 1fr .8fr 4% 4% 4%);
}

.userTabler {
  @include entityTabler(4% 15% 4% 1fr 13% 1fr 15% 4% 4%);
}

/************
*** exec.js
*************/

.list {
  overflow-x: hidden;
  .item {
    @include scale-on-hover(1.03);
    cursor: pointer;
    margin: 0.8em 0;
    overflow: hidden;
    .image {
      border: .1em inset rgb(235, 235, 235);
      border-radius: 45%; 
      width: 100%;
      @media (max-width: $break-md) {
        border: none;
        border-radius: 10%; } }
    .details {
      padding: 1em;
      @media (max-width: $break-md) { padding: 1em 0; }
      .title {
        font-size: 1.6em;
        @media (max-width: $break-md) { font-size: 1.4em; }}
      .subtitle {
        font-size: 1.2em;
        @media (max-width: $break-md) { font-size: 1em; }}
      .paragraph {
        font-size: 1.2em;
        @media (max-width: $break-md) { font-size: 1em; }}
    }
  }
}

/************
*** single.js
*************/

.entity { @include entity(left, 55vh); }

/*************
*** form.js
*************/

.form { @extend .responsive-form; }