@import '../Variables';

/************
*** index.js
*************/

.heading {
  @include font-scaler(1.5);
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0.5em 0;
  padding: 0.5em 0;
  text-align: center;
}

.member-block {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  @media (max-width: $break-sm) {
    display: block;
  }
}

%cell {
  padding: 1em;
  @media (max-width: $break-sm) {
    padding: 1em 0.4em;
    width: 100% !important;
  }
}

.executive-cell {
  @extend %cell;
  width: 30%;
}

.member-cell {
  @extend %cell;
  width: 25%;
}

.member-flex {
  @include scale-on-hover(1.1);
  @media (max-width: $break-sm) {
    align-items: center;
    display: flex;
  }
}

.member-image {
  border-radius: 50%;
  margin-bottom: 0.5em;
  overflow: hidden;
  width: 100%;
  @media (max-width: $break-sm) {
    min-width: 35%;
    width: 35%;
  }
}

.member-details {
  @media (max-width: $break-sm) {
    margin-left: 1em;
    text-align: left;
  }
}

.member-name {
  @include font-scaler(1.2);
  line-height: 1.3;
  @media (max-width: $break-sm) {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 0.2em;
  }
}

.member-role {
  @include font-scaler(1);
  @media (max-width: $break-sm) {
    font-size: 0.8em;
    font-weight: 600;
  }
}

.member-flags {
  @extend %country-flags;
}

.member-excerpt {
  font-size: 0.8em;
  margin-bottom: 0 !important;

  p {
    line-height: 1.5 !important;
    margin-bottom: 0 !important;
  }
}

.member-readmore {
  font-size: 0.75em;
  margin-top: 0.5em;
}

/************
*** admin.js
*************/

.member-admin-image {
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: $break-sm) {
    border-radius: 10px;
    margin: 0.5em 0;
    max-height: 80px;
    max-width: 80px;
    position: relative;
  }
}

.userTabler {
  @include entity-tabler(4% 15% 4% 1fr 13% 1fr 15% 4% 4%);
}

/************
*** exec.js
*************/

.list {
  overflow-x: hidden;

  .item {
    @include scale-on-hover(1.03);
    cursor: pointer;
    margin: 0.8em 0;
    overflow: hidden;

    .image {
      border: 0.1em inset rgb(235, 235, 235);
      border-radius: 45%;
      width: 100%;
      @media (max-width: $break-md) {
        border-radius: 10%;
        border-style: none;
      }
    }

    .details {
      padding: 1em;
      @media (max-width: $break-md) {
        padding: 1em 0;
      }

      .title {
        font-size: 1.6em;
        @media (max-width: $break-md) {
          font-size: 1.4em;
        }
      }

      .subtitle {
        font-size: 1.2em;
        @media (max-width: $break-md) {
          font-size: 1em;
        }
      }

      .paragraph {
        font-size: 1.2em;
        @media (max-width: $break-md) {
          font-size: 1em;
        }
      }
    }
  }
}

/************
*** single.js
*************/

.entity {
  @include entity(left, 55vh);
}

/*************
*** form.js
*************/

.form {
  @extend .responsive-form;
}

.member-file-selector {
  max-width: 400px;
}
