
@import "../Variables";

.cover {
  background-position: 0 -70px;
  @media (max-width: $break-md) { background-position: initial; }
}

.count {
  color: white;
  font-family: $title-font;
  margin: 0;
  @media (max-width: $break-md) { font-size: .9em; }
}

.grid {
  @include responsive-grid;
  border-bottom: $border;
  padding: .2em;
  width: 100%;
  .cell {
    border-radius: 15px;
    border: $secondary-border;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    margin: .1em;
    padding: .5em;
    text-align: center;
    .headline {
      font-size: 1.2em;
      border-bottom: 1px solid white;
      padding-bottom: .5em;
      @media (max-width: $break-md) { font-size: 1em; }}
    .question {
      font-size: .9em;
      padding: .7em 0;
      @media (max-width: $break-md) { font-size: .8em; }}
    .valSens {
      display: flex;
      justify-content: space-between;
      padding-bottom: .4em;
      .val { justify-self: flex-start; }
      .sens { justify-self: flex-end; }}
    .details {
      font-size: .8em;
      border-top: 1px solid white;
      padding-top: .5em;
      @media (max-width: $break-md) { font-size: .7em; }}
    .buttons {
      border-radius: 15px;
      margin-top: .7em;
      width: 100%;
      button {
        font-size: 70%;
        width: 50%;
      }
    }
  }
}

.menuSection {
  display: flex;
  > div:first-child { padding-right: 1em; }
  a {
    padding: 0;
    @media (max-width: $break-md) { font-size: .8em; } }
  .polarityBlock { padding-top: 1em; }
}

/*************
*** form.js
*************/

.form {
  @extend .responsive-form;
  .options {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
  }
}