@import 'Variables';
@import '~bootstrap/scss/bootstrap';

/** For _document.js body styles */
.body {
  height: 100vh;
  opacity: 0;
  transition: opacity 0.8s;
  background: {
    attachment: fixed;
    color: black;
    position: center;
    repeat: no-repeat;
    size: cover;
  }

  > div:first-child {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100%;
  }
}

/** Global styles for modals **/
.modal-dialog {
  max-width: 500px !important;
}

.modal-open {
  overflow-y: auto;
  padding: 0 !important;
}

.modal-content {
  border: 1px solid $faded-white !important;
  border-radius: 15px !important;
  overflow: hidden;
}

.modal-footer {
  flex-wrap: nowrap;
}

/** Global styles for tooltips **/
.tooltip [class$='inner'] {
  border: 10px solid black;
  max-height: 500px;
  max-width: 500px;
  overflow-y: scroll;
  text-align: left;
}
