@import "variables";

/************
*** admin.js
*************/

.articleTabler {
  @include entityTabler(4% 15% 15% 1fr 13% 1fr 4% 4% 4%);
}

/************
*** index.js
*************/

.blogGrid {
  @include responsive-grid;
  border: .5em solid #2d203b;
  width: 100%;
  @media (max-width: $break-md) { border: none; }
  .container {
    &:hover { z-index: 1;
      .details { background-color: #16051b !important;}}
    .cell {
      @include scale-on-hover(1.07);
      border: $secondary-border;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      .image { width: 100%; }
      .details {
        background-color: $primary-dark;
        border-top: $secondary-border;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 0.8em 0.5em;
        text-align: center;
        .title { font-size: .9em; }
        .date { font-size: .75em; }
      }
    }
  }
}

/*************
*** form.js
*************/

.form { @extend .responsive-form; }