@import 'Variables';

/******************************************
*** login.js
******************************************/

.login-form {
  padding: 1em;
  @media (max-width: $break-md) {
    font-size: 1em;
  }

  div {
    @media (max-width: $break-md) {
      padding: 0.35em 0;
    }
  }
}

/******************************************
*** signup.js
******************************************/

.form {
  @extend .responsive-form;
  @media (min-width: $break-lg) {
    width: 50%;
  }
}

.honeypot {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

/******************************************
*** account.js
******************************************/

.container {
  @extend .responsive-container;
  padding: 1.5em;
  .name {
    @extend .text;
    @include font-scaler(2.5);
  }
  .username {
    color: grey;
    font-family: $body-font;
    @include font-scaler(1.5);
  }
  .clearance {
    color: white;
    font-family: $title-font;
    @include font-scaler(1.5);
  }
  .links {
    display: grid;
    margin-top: 2em;
    button {
      @extend .link-button;
      color: #9360ce;
      font-family: $body-font;
      @include font-scaler(1.1);
      text-align: left;
    }
    .features {
      @extend .text;
      @include font-scaler(1.2);
      margin-bottom: 2em;
    }
    .warning {
      color: white;
      font-family: $body-font;
    }
  }

  .generatedLink {
    margin-top: 1em;
  }
}

/******************************************
*** recovery.js
******************************************/

.instructions {
  @extend .text;
  font-size: 1.2em;
  div {
    margin: 1em 0;
  }
}
