
@import "_variables.scss";
@import "_components.scss";

.container {
  @extend .responsive-container;
  padding: 1.5em 1em;
  .text {
    @extend .text;
    font-size: 1.2em;
    @media (max-width: $break-md) { font-size: 1em; }
  }
}

.infoButton {
  @extend .submit-default;
  @include font-scaler(1.5);
  margin-top: 1em;
  min-width: 50%;
  @media (max-width: $break-md) { min-width: 100%; }
}

.form { @extend .responsive-form; }

/******************************************
*** variants.js
******************************************/

.imageLogo {
  @extend .responsive-container;
  padding: 1em 0;
}