/** Fonts */
$title-font: 'Patua One';
$body-font: 'Raleway';

/** Colors */
$white: #fff;
$skyblue: rgb(135, 206, 235);

$primary: #6c4d90;
$primary-light: rgba(142, 116, 171, 0.5);
$primary-light-fade: rgba(107, 77, 144, 0.5);
$primary-dark: rgba(28, 8, 34, 0.8);
$dark: rgb(13, 12, 14);

$sidebar: rgba(8, 2, 10, 0.8);

$blackex: #22b2c3;
$mental: #159e43;

$faded-white: rgba(255, 255, 255, 0.7);

/** Borders */
$border: 1px solid $primary;
$secondary-border: 1px solid rgb(245, 222, 179);
$underline: 1px solid $faded-white;

$toolbar: rgba(0, 0, 0, 0.95);
$navbar-height: 65px;

/** Media queries */
$break-sm: 576px; // Small devices (landscape phones)
$break-md: 768px; // Medium devices (tablets)
$break-lg: 992px; // Large devices (desktops)
$break-xl: 1200px; // Extra large devices (large desktops)
$break-xxl: 1408px; // Extra large devices (large desktops)

%country-flags {
  margin-left: 0.1em;
  position: relative;
  top: 0.2em;
}

/** Global template styles */
.text,
%text {
  color: white;
  font-family: $body-font;
}

.link {
  cursor: pointer;
  font-family: $body-font;
  text-decoration: underline;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  &-default {
    @extend .link;
    color: #bc83ff;

    &:hover {
      color: #9769cc;
    }
  }

  &-blackex {
    @extend .link;
    color: #36deea;

    &:hover {
      color: #2babb4;
    }
  }

  &-mental {
    @extend .link;
    color: #36ea92;

    &:hover {
      color: #29af6e;
    }
  }

  &-button {
    background: none;
    border-style: none;
    outline: none;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.invisible_button,
%invisible-button {
  background: none;
  border-style: none;

  &:focus {
    outline: none;
  }
}

.responsive-container {
  margin: 0 auto;
  width: 60%;
  @media (max-width: $break-xl) {
    width: 70%;
  }
  @media (max-width: $break-lg) {
    width: 80%;
  }
  @media (max-width: $break-sm) {
    width: 100%;
  }
}

.responsive-container-70 {
  margin: 0 auto;
  width: 70%;
  @media (max-width: $break-lg) {
    width: 80%;
  }
  @media (max-width: $break-sm) {
    width: 100%;
  }
}

.responsive-container-80 {
  margin: 0 auto;
  width: 80%;
  @media (max-width: $break-sm) {
    width: 100%;
  }
}

.responsive-form {
  @extend .responsive-container;
  padding: 2em 1em;
}

/***********
** Mixins **
***********/
@mixin scale-on-hover($scale) {
  @media (min-width: $break-lg) {
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale($scale);
    }
  }
}

@mixin font-scaler($size) {
  font-size: ($size) + em;

  @media (max-width: $break-xxl) {
    font-size: ($size * 1.2) + em;
  }

  @media (max-width: $break-xl) {
    font-size: ($size * 1.1) + em;
  }
  @media (max-width: $break-lg) {
    font-size: ($size) + em;
  }
  @media (max-width: $break-sm) {
    font-size: ($size * 0.85) + em;
  }
}

@mixin entity($float, $width) {
  margin: 1em auto;
  overflow-x: hidden;

  .image {
    border-radius: 8px;
    float: $float;
    margin-bottom: 1em;
    width: $width;
    @if $float == right {
      margin-left: 1.5em;
    } @else {
      margin-right: 1.5em;
    }
    @media (max-width: $break-xl) {
      width: 50%;
    }
    @media (max-width: $break-sm) {
      width: 100%;
    }
  }

  .details {
    .title {
      @include font-scaler(2);
    }

    .subtitle {
      @include font-scaler(1.1);
    }

    .description {
      @include font-scaler(1.2);
    }
  }
}

@mixin responsive-grid($maxCol: 6) {
  display: grid;
  grid-template-columns: repeat($maxCol, calc(100% / #{$maxCol}));

  @if $maxCol > 5 {
    @media (max-width: $break-xl) {
      grid-template-columns: repeat(5, 20%);
    }
  }

  @if $maxCol > 4 {
    @media (max-width: $break-lg) {
      grid-template-columns: repeat(4, 25%);
    }
  }

  @if $maxCol > 3 {
    @media (max-width: $break-md) {
      grid-template-columns: repeat(3, calc(100% / 3));
    }
  }

  @media (max-width: $break-sm) {
    grid-template-columns: repeat(2, 50%);
  }
}

@mixin responsive-grid-2($maxCol: 4) {
  display: grid;
  grid-template-columns: repeat($maxCol, calc(100% / #{$maxCol}));

  @if $maxCol > 3 {
    @media (max-width: $break-xl) {
      grid-template-columns: repeat(3, calc(100% / 3));
    }
  }

  @if $maxCol > 2 {
    @media (max-width: $break-lg) {
      grid-template-columns: repeat(2, 50%);
    }
  }
  
  @media (max-width: $break-md) {
    grid-template-columns: 100%;
  }
}

@mixin entity-tabler($columns...) {
  padding: 1em 2em;

  .heading {
    font-size: 2em;
    margin-bottom: 0.5em;
    @media (max-width: $break-md) {
      font-size: 1.5em;
    }
  }

  .grid {
    display: grid;
    font-size: 1.1em;
    position: relative;

    .header,
    .row {
      align-items: center;
      color: white;
      display: grid;
      grid-template-columns: $columns;
      padding: 0.7em 0;

      span {
        padding: 0 0.5em;
        word-break: break-word;

        .image {
          width: 100%;
        }
      }
    }

    .header {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      font-family: $title-font;
    }

    .row {
      border-radius: 10px;
      font-family: $body-font;

      &:hover {
        background-color: $primary-light;
      }

      button {
        @extend .invisible_button;
        cursor: pointer;
      }
    }
  }

  .list {
    @include font-scaler(1);
    color: white;
    display: grid;

    .row {
      background: $primary-dark;
      border: 1px solid white;
      border-radius: 15px;
      font-family: $body-font;
      margin: 0.5em 0;
      padding: 1em;
      position: relative;

      div:not(.index):not(.crud):not([class*='image' i]) {
        display: grid;
        grid-template-columns: 2em 1fr;
      }

      .name {
        @include font-scaler(1.5);
        font-family: $title-font;
      }

      .index {
        @include font-scaler(1.5);
        font-family: $title-font;
        position: absolute;
        right: 5%;
        top: 5%;
      }

      .crud {
        bottom: 5%;
        position: absolute;
        right: 0;
      }
    }
  }
  @media (max-width: $break-md) {
    padding: 1em;
  }
}
