@import './Mixins.scss';

/** Fonts */
$title-font: 'Patua One';
$body-font: 'Raleway';

/** Colors */
$white: #fff;
$skyblue: rgb(135, 206, 235);

$primary: #6c4d90;
$primary-light: rgba(142, 116, 171, 0.5);
$primary-light-fade: rgba(107, 77, 144, 0.5);
$primary-dark: rgba(28, 8, 34, 0.8);
$dark: rgb(13, 12, 14);

$sidebar: rgba(8, 2, 10, 0.8);

$blackex: #22b2c3;
$mental: #159e43;

$faded-white: rgba(255, 255, 255, 0.7);

/** Borders */
$border: 1px solid $primary;
$secondary-border: 1px solid rgb(245, 222, 179);
$underline: 1px solid $faded-white;

$toolbar: rgba(0, 0, 0, 0.95);
$navbar-height: 65px;

/** Media queries */
$break-sm: 576px; // Small devices (landscape phones)
$break-md: 768px; // Medium devices (tablets)
$break-lg: 992px; // Large devices (desktops)
$break-xl: 1200px; // Extra large devices (large desktops)
$break-xxl: 1408px; // Extra large devices (large desktops)

/************************************
* NEW ERA SCSS
************************************/

%country-flags {
  margin-left: 0.1em;
  position: relative;
  top: 0.2em;
}

/************************************
* LEGACY SCSS
************************************/

/** Global template styles */
.text,
%text {
  color: white;
  font-family: $body-font;
}

.link {
  cursor: pointer;
  font-family: $body-font;
  text-decoration: underline;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  &-default {
    @extend .link;
    color: #bc83ff;

    &:hover {
      color: #9769cc;
    }
  }

  &-blackex {
    @extend .link;
    color: #36deea;

    &:hover {
      color: #2babb4;
    }
  }

  &-mental {
    @extend .link;
    color: #36ea92;

    &:hover {
      color: #29af6e;
    }
  }

  &-button {
    background: none;
    border-style: none;
    outline: none;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.invisible_button,
%invisible-button {
  background: none;
  border-style: none;

  &:focus {
    outline: none;
  }
}

.responsive-container {
  margin: 0 auto;
  width: 60%;
  @media (max-width: $break-xl) {
    width: 70%;
  }
  @media (max-width: $break-lg) {
    width: 80%;
  }
  @media (max-width: $break-sm) {
    width: 100%;
  }
}

.responsive-container-70 {
  margin: 0 auto;
  width: 70%;
  @media (max-width: $break-lg) {
    width: 80%;
  }
  @media (max-width: $break-sm) {
    width: 100%;
  }
}

.responsive-container-80 {
  margin: 0 auto;
  width: 80%;
  @media (max-width: $break-sm) {
    width: 100%;
  }
}

.responsive-form {
  @extend .responsive-container;
  padding: 2em 1em;
}