
@import "variables";

.body {
  background: {  
    attachment: fixed;
    color: black;
    image: url("/static/images/bg/body-bg.jpg");
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  height: 100vh;

  + div {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100%;
  }
}

.bexley {
  border-radius: 10px;
  font-family: $body-font;
  font-weight: bold;
}