
@import "variables";

.body {
  background: {  
    attachment: fixed;
    color: black;
    image: url("/static/images/bg/body-bg.jpg");
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

.cover {
  background: {  
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  align-items: center;
  border-bottom: $border;
  border-top: $border;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}