@import "variables";

/** cover.js */
.cover {
  background: {  
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  align-items: center;
  border-bottom: $border;
  border-top: $border;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** form.js && datepicker.js */
.text {
  font-family: $body-font;
  font-size: 1em;
}

.group {
  .label {
    @extend .text;
    color: white;
    display: block;
    + div { // .react-native-wrapper
      display: block !important;
      div { // .react-datepicker__input-container
        display: block !important;
      }
    }
  }
  .input {
    @extend .text;
  }
  .textarea {
    @extend .text;
  }
}

/** toolbar.js */
.toolbar {
  background-color: $toolbar;
  bottom: 0%;
  height: 5vh;
  padding: 1.5em 0;
  position: sticky;
  width: 100%;
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}