@import "variables";

/****************/
/** button .js **/
/****************/

.button {
  border: 1px solid white;
  color: white;
  border-radius: 15px;
  font-family: $body-font;
  min-width: 100px;
  padding: 1em;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  &:focus { outline: none; }
  &:active {
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
  }
}

.submit {
  @extend .button;
  background-color: $submit-button;
  min-width: 200px;
  &:hover { box-shadow: inset 0 0 100px 100px $submit-hover; }
  &:active { box-shadow: inset 0 0 100px 100px $submit-active; }
}

.cancel {
  @extend .button;
  background-color: $cancel-button;
  min-width: 200px;
  &:hover { box-shadow: inset 0 0 100px 100px $cancel-hover; }
  &:active { box-shadow: inset 0 0 100px 100px $cancel-active; }
}

.widgets { font-family: $body-font; }

/****************/
/** cover .js **/
/****************/
.cover {
  background: {  
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  align-items: center;
  border-bottom: $border;
  border-top: $border;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/******************************/
/** form.js && datepicker.js **/
/******************************/
.text {
  color: white;
  font-family: $body-font;
}

.heading {
  @extend .text;
  font-size: 2.2em;
  margin-bottom: .8em;
}

.group {
  padding: .2em 0;
  .label {
    color: white;
    display: block;
    font-family: $title-font;
    font-size: 1.1em;
  }
  .input {
    @extend .text;
    background: none;
    border: none;
    border-bottom: $underline;
    font-size: 1.2em;
    outline: none;
    padding: .4em;
    width: 100%;
  }
  .textarea {
    @extend .input;
    min-height: 42px;
    + .wordcount {
      color: $faded-white;
      font-family: $title-font;
      margin: 0;
      text-align: right;
      width: 100%;
    }
  }
  .select {
    @extend .input;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .checkbox {
    @extend .text;
    .box {
      margin-right: 5px;
    }
  }
  .file {
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    width: fit-content;
    .file_button {
      background-color: $submit-button;
      color: white;
      cursor: pointer;
      font-family: $body-font;
      padding: .7em 1.2em;
      margin: 0;
      transition-duration: .3s;
      -webkit-transition-duration: .3s;
      &:hover { box-shadow: inset 0 0 100px 100px $submit-hover; }
      &:active { box-shadow: inset 0 0 100px 100px $submit-active; }}
    .file_input {
      font-family: $body-font;
      padding: .5em .5em;
    }
  }

  @media (max-width: $break-md) {
    > div { margin: .8em 0; }
  }
}

:global(.react-datepicker-wrapper),
:global(.react-datepicker__input-container) { display: block !important; }
:global(.react-datepicker__day--outside-month){ color: #a9a9a9; }

/****************/
/** loader.js **/
/****************/

.loader {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 30vh;
  height: 100%;
  justify-content: center;
  width: 100%;
  .spinner {
    color: white;
    font-family: $body-font;
    padding-left: .5em;
  }
}

/****************/
/** modal.js **/
/****************/
.modal_header, .modal_body, .modal_footer {
  background: $dark;
}

:global(.modal-open) {
  padding: 0 !important;
  overflow-y: auto
}
:global(.modal-content) {
  border: 1px solid $faded-white !important;
  overflow: hidden;
}

/****************/
/** searchbar.js **/
/****************/

.searchContainer {
  background: $dark;
  border-radius: 30px;
  padding: .3em .7em;
  .searchBar {
    @extend .text;
    background: none;
    border: none;
    font-size: 90%;
    outline: none;
  }
}

/****************/
/** toolbar.js **/
/****************/
.toolbar {
  background-color: $toolbar;
  bottom: 0%;
  height: 5vh;
  padding: 1.5em 0;
  position: sticky;
  width: 100%;
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}