
@import "variables";

.body {
  background: {  
    attachment: fixed;
    color: black;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  height: 100vh;
  opacity: 0;
  transition: opacity .8s;
  -webkit-transition: opacity .8s;

  > div:first-child {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100%;
  }
}

.error {
  @extend .text;
  background: {  
    attachment: fixed;
    image: url('/static/images/bg/404.jpg');
    position: top;
    repeat: no-repeat;
    size: cover;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  .errorText {
    padding: 1.5em;
    .message {
      font-size: 1.6em;
      margin-bottom: 1em;}
    button {
      @extend .link-button;
      color: white; }
  } 
}

.prenav {
  background-color: black;
  padding: .2em 0 !important;
  @media (max-width: $break-md) {
    padding: 3px 0 !important;
    width: 100% !important; }
  .auth {
    font-size: 1.1em;
    font-family: $body-font;
    text-align: right;
    .dropdown_menu {
      background-color: $dark;
      border-radius: 10px;
      overflow: hidden;
      padding: 0;
      .dropdown_item {
        color: white;
        padding: .8em;
        &:focus { background: inherit; }
        &:hover { background: white; color: black;}
        &:active { background: #007bff; color: white; } }
      .divider { margin: 0; }
    }
  }
  .no_auth {
    color: $primary;
    font-size: 1.1em;
    font-family: $body-font;
    text-align: right;
    @media (max-width: $break-md) { font-size: 1em; }
    .link {
      color: inherit;
      font-weight: 900;
      vertical-align: middle; }
    .divider { 
      font-weight: 900;
      padding: 0 .3em; }
    button { @extend .link-button; }
  }
}

.nav {
  // background-image: url('/static/images/bg/nav-bg.jpg');
  background-size: cover;
  border-top: $border;
  border-bottom: $border;
  height: $navbar-height;
  @media (max-width: $break-md) { height: initial; }
  .links {
    color: #d5bde0 !important;
    font-family: $body-font;
    font-weight: 700;
  }
}

.footer {
  background-color: rgba(13, 12, 14, .95);
  bottom: 0%;
  clear: both;
  padding: 1.6em;
  width: 100%;
  .footerLinks {
    @extend .text;
    display: flex;
    width: 100%;
    @media (max-width: $break-md) {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      font-size: .9em;
      text-align: center;}
    a {
      color: white;
      margin: 0 .5em;
    }
  }
}