
@import "variables";

.body {
  @include body-customizer('body-bg.jpg');
}

.prenav {
  background-color: black;
  padding: .2em 0 !important;
  @media (max-width: $break-md) {
    padding: 3px 0 !important;
    width: 100% !important; }
  .auth {
    font-size: 1.1em;
    font-family: $body-font;
    text-align: right;
    .dropdown_menu {
      background-color: $dark;
      border-radius: 10px;
      overflow: hidden;
      padding: 0;
      .dropdown_item {
        color: white;
        padding: .8em;
        &:hover { color: inherit;}}
      .divider { margin: 0; }
    }
  }
  .no_auth {
    color: $primary;
    font-size: 1.1em;
    font-family: $body-font;
    text-align: right;
    @media (max-width: $break-md) { font-size: 1em; }
    .link {
      color: inherit;
      font-weight: 900;
      vertical-align: middle; }
    .divider { 
      font-weight: 900;
      padding: 0 .3em; }
    button {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      &:hover { text-decoration: underline; }
    }
  }
}

.nav {
  // background-image: url('/static/images/bg/nav-bg.jpg');
  background-size: cover;
  border-top: $border;
  border-bottom: $border;
  height: $navbar-height;
  @media (max-width: $break-md) { height: initial; }
  .links {
    color: #d5bde0 !important;
    font-family: $body-font;
    font-weight: 700;
  }
}

.footer {
  background-color: rgba(13, 12, 14, .95);
  bottom: 0%;
  clear: both;
  padding: 1.6em 0;
  width: 100%;
}