
@import "variables";

.prenav {
  background-color: black;
  padding: 3px 2em;
  .auth {
    color: $primary;
    font-size: 1.1em;
    font-family: $body-font;
    text-align: right;
    a {
      color: inherit;
      font-weight: 900;
      margin: 0 3px; }
  }
  .no_auth {
    color: $primary;
    font-size: 1.1em;
    font-family: $body-font;
    text-align: right;
    a {
      color: inherit;
      margin: 0 3px;
      vertical-align: middle; }
    button {
      background: none;
      border: none;
      color: inherit;
      outline: none;
      vertical-align: middle;
      &:hover { text-decoration: underline; }
    }
  }
}

.nav {
  background-color: $dark;
  height: $navbar-height;
  @media (max-width: $break-md) { height: initial; }
  .links {
    font-family: $body-font;
    font-weight: 700;
  }
}

.footer {
  background-color: $dark;
  bottom: 0%;
  clear: both;
  padding: 1.6em 0;
  width: 100%;
}