/** Fonts */
$title-font: 'Patua One';
$body-font: 'Raleway';

/** Colors */
$primary: #6C4D90;
$primary-light: rgba(142, 116, 171, .5);
$primary-dark: rgba(28, 8, 34, .8);
$dark: rgb(13, 12, 14);

$blackex: #22b2c3;
$mental: #159e43;

$faded-white: rgba(255, 255, 255, .7);

/** Borders */
$border: 1px solid $primary;
$secondary-border: 1px solid rgb(245, 222, 179);
$underline: 1px solid $faded-white;

$toolbar: rgba(0,0,0,.95);
$navbar-height: 9vh;

/** Media queries */
$break-sm: 576px; // Small devices (landscape phones)
$break-md: 768px; // Medium devices (tablets)
$break-lg: 992px; // Large devices (desktops)
$break-xl: 1200px; // Extra large devices (large desktops)
$break-xxl: 1408px; // Extra large devices (large desktops)

/** Global template styles */
.text {
  color: white;
  font-family: $body-font;
}

.link {
  cursor: pointer;
  font-family: $body-font;
  text-decoration: underline;
  transition: all .2s;
  -webkit-transition: all .2s;
  &-default {
    @extend .link;
    color: #bc83ff;
    &:hover { color: #9769cc; } }
  &-blackex {
    @extend .link;
    color: #36deea;
    &:hover { color: #2babb4; } }
  &-mental {
    @extend .link;
    color: #36ea92;
    &:hover { color: #29af6e; }
  }

  &-button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    &:hover { text-decoration: underline; }
  }
}

.responsive-container {
  margin: 0 auto;
  width: 60%;
  @media (max-width: $break-xl) { width: 70%; }
  @media (max-width: $break-lg) { width: 80%; }
  @media (max-width: $break-md) { width: 100%; } }

.responsive-form {
  @extend .responsive-container;
  padding: 2em 1em;
}

/***********
** Mixins **
***********/
@mixin scale-on-hover($scale) {
  transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  &:hover { transform: scale($scale); }
}

@mixin responsive-grid {
  display: grid;
  grid-template-columns: repeat(6, calc(100% / 6));
  @media (max-width: $break-xl) { grid-template-columns: repeat(5, 20%); }
  @media (max-width: $break-lg) { grid-template-columns: repeat(4, 25%); }
  @media (max-width: $break-md) { grid-template-columns: repeat(3, calc(100% / 3)); }
  @media (max-width: $break-sm) { grid-template-columns: repeat(2, 50%); }
}