/** Fonts */
$title-font: 'Patua One';
$body-font: 'Raleway';

/** Colors */
$primary: #6C4D90;
$primary-dark: rgba(28, 8, 34, 0.80);
$dark: #0D0C0E;

/** Custom */
$border: 2px solid $primary;
$secondary-border: 1px solid rgb(245, 222, 179);
$underline: 1px solid rgba(255, 255, 255, .7);

$toolbar: rgb(0, 0, 0);

/** Media queries */
$break-sm: 576px; // Small devices (landscape phones)
$break-md: 768px; // Medium devices (tablets)
$break-lg: 992px; // Large devices (desktops)
$break-xl: 1200px; // Extra large devices (large desktops)
$break-xxl: 1408px; // Extra large devices (large desktops)