/** Fonts */
$title-font: 'Patua One';
$body-font: 'Raleway';

/** Colors */
$primary: #6C4D90;
$primary-dark: rgba(28, 8, 34, 0.80);
$dark: #0d0c0e;

/** Custom */
$secondary-border: 1px solid rgb(245, 222, 179);
$border: 2px solid $primary;

/** Media queries */
$break-sm: 576px; // Small devices (landscape phones)
$break-md: 768px; // Medium devices (tablets)
$break-lg: 992px; // Large devices (desktops)
$break-xl: 1200px; // Extra large devices (large desktops)