
@import "variables";

.body {
  background: {  
    attachment: fixed;
    color: black;
    image: url("/static/images/bg/body-bg.jpg");
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

.cover {
  background: {  
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  border-top: $border;
  border-bottom: $border;

  div {
    position: relative;
    top: 35%;
  }
}