
@import "variables";

.grid {
  @include responsive-grid;
  border-bottom: 1px solid $blackex;
  padding: .4em;
  width: 100%;
  .cell {
    @include scale-on-hover(1.08);
    border: $secondary-border;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: .2em;
    overflow: hidden;
    .image { width: 100%; }
  }
}

/************
*** single.js
*************/

.entity { @include entity(left, 55vh); }

/*************
*** form.js
*************/

.form { @extend .responsive-form; }

