
@import "variables";

.grid {
  @include responsive-grid;
  border-bottom: 1px solid $blackex;
  padding: .4em;
  width: 100%;
  .cell {
    @include scale-on-hover(1.08);
    border: $secondary-border;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: .2em;
    overflow: hidden;
    .image { width: 100%; }
  }
}

/************
*** single.js
*************/

.entity {
  margin: 1em 0;
  .image {
    border-radius: 8px;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 55vh;
    @media (max-width: $break-md) { width: 100%; }
  }
  .details {
    .title {
      font-size: 2em;
      @media (max-width: $break-md) { font-size: 1.7em; }
    }
    .subtitle {
      font-size: 1.1em;
      @media (max-width: $break-md) { font-size: 1em; }
    }
    .description {
      font-size: 1.2em;
      @media (max-width: $break-md) { font-size: 1em; }
    }
  }
}

/*************
*** form.js
*************/

.form { @extend .responsive-form; }

