@import "variables";

.cover {
  @media (max-width: $break-sm) {
    background-position: center;
    text-align: left;
  }
}

:global(.link-default){
  color: skyblue !important;
  &:hover { color: #2babb4 !important; }
}

.threepart {
  @media (min-width: $break-lg) { height: 32vw; }
  .colpart {
    padding: 1em 0.5em;
    @media (max-width: $break-lg) { padding: 1em; }
    .part {
      @include scale-on-hover(1.04);
      align-items: center;
      background-size: cover;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      padding-bottom: 1.5em;
      text-align: center;
      width: 100%;
      @media (max-width: $break-lg) { height: 50vw; }
      @media (max-width: $break-sm) { height: 100vw; }
      @media (max-width: $break-lg) and (min-width: $break-md) {
        background-position-y: -5vh;
      }
      .caption {
        vertical-align: top;
        width: 80%;
        @media (max-width: $break-lg) and (min-width: $break-md) {
          width: 60%;
        }
        .headline {
          @include font-scaler(2.2);
          color: white;
          font-family: $title-font;}
        .description {
          @include font-scaler(1);
          color: white;
          font-family: $body-font;
          text-align: center;
        } 
      }
    }
  }
}

.advertiser {
  height: 100%;
  text-align: center;
  padding: .5em 1em;
  .heading {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: .5em 0;
    @media (max-width: $break-md) { font-size: 1.4em; }}
  .image {
    @include scale-on-hover(1.03);
    border: $secondary-border;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: .8em;
    width: 60%;
    @media (max-width: $break-md) { width: 100%; } }
  .details {
    margin: 0 auto 2em;
    width: 90%;
    @media (max-width: $break-md) { width: 100%; }
    .title { @include font-scaler(1.4); }
    .subtitle { @include font-scaler(1.1); }
    .paragraph { @include font-scaler(1.1); }
  }
}

.upcomingSession {
  @extend .advertiser;
  background-color: rgba(156, 0, 43, .2);
  &:hover { background-color: rgba(156, 0, 43, .35);}
}

.randomCandidate {
  @extend .advertiser;
  background-color: rgba(0, 141, 158, .2);
  &:hover { background-color: rgba(0, 141, 158, .35);}
}

.topicVoter {
  align-items: center;
  background-color: rgba(14, 27, 179, 0.2);
  display: flex;
  justify-content: center;
  padding: 2em 0;
  text-align: center;
  width: 100%;
  &:hover { background-color: rgba(14, 27, 179, 0.35); }
  .heading {
    @include font-scaler(1.8);
    text-transform: uppercase;
    margin-bottom: 1em; }
  .container {
    @extend .responsive-container;
    .headline {
      @include font-scaler(2);}
    .question {
      @include font-scaler(1.4);}
    .voter { margin: 1em 0;}
    .voteCount { @extend .text; }
    .voteThanks { @extend .text; margin-top: 1em; }
  }
}

.randomMember {
  background-color: rgba(97, 72, 0, .2);
  padding: .5em 1em;
  &:hover { background-color: rgba(97, 72, 0, .35);}
  @media (max-width: $break-sm) { text-align: center; }
  .container {
    margin: 2em auto;
    width: 90%;
    @media (max-width: $break-md) { width: 100%; }
    .heading {
      font-size: 1.7em;
      text-transform: uppercase;
      margin-bottom: 1em;
      @media (max-width: $break-md) { font-size: 1.4em; }}
    .image {
      @include scale-on-hover(1.03);
      border: $secondary-border;
      border-radius: 45%;
      float: left;
      cursor: pointer;
      width: 100%;
      @media (max-width: $break-md) { margin-bottom: 1em; }}
    .details {
      margin: 0 auto;
      @media (max-width: $break-md) { width: 100%;}
      .title { @include font-scaler(1.6); }
      .subtitle { @include font-scaler(1.2); }
      .paragraph { @include font-scaler(1.2); }
    }
  }
}

.forumAdvertiser {
  background: {
    position: top;
    size: cover;
  }
  min-height: 450px;
  width: 100%;
  .container {
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em 1em;
    height: 100%;
    transition: all .3s;
    -webkit-transition: all .3s;
    &:hover { background-color: rgba(24, 22, 26, 0.25);}
    .coverText {
      @extend .text, .responsive-container;
      @include font-scaler(1.4);
      text-align: center;
    }
  }
}