
@import "_variables.scss";

.container {
  @extend .responsive-container;
  padding: 1.5em 1em;
  .text {
    @extend .text;
    font-size: 1.2em;
    @media (max-width: $break-md) { font-size: 1em; }
  }
}

.form { @include responsive-form; }

/******************************************
*** variants.js
******************************************/

.imageLogo {
  @extend .responsive-container
}