
@import "variables";

.prenav {
  background-color: black;
  padding: 3px 2em;

  .socials { margin: 0 3px; }

  .auth {
    color: $primary;
    font-family: $title-font;
    font-weight: 100;
    text-align: right;
    a {
      margin: 0 3px;
      font-size: 1.1em;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
}

.nav {
  background-color: $dark;
  
  .links {
    font-family: $body-font;
    font-weight: 700;
  }
}

.footer {
  background-color: $dark;
  bottom: 0;
  padding: 1.5em 0
}