
@import "variables";

.cover {
  background-position: 0 -70px;
  @media (max-width: $break-md) { background-position: initial; }
}

.grid {
  @include responsive-grid;
  border: .5em solid #2d203b;
  width: 100%;
  @media (max-width: $break-md) { border: none; }
  .container {
    &:hover { z-index: 1;
      .details { background-color: #16051b !important;}}
    .cell {
      @include scale-on-hover(1.07);
      border: $secondary-border;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      .image { width: 100%; }
      .details {
        background-color: $primary-dark;
        border-top: $secondary-border;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 0.8em 0.5em;
        text-align: center;
        .title { font-size: .9em; }
        .date { font-size: .75em; }
      }
    }
  }
}

.list {
  @extend .responsive-container-70;
  .item {
    @include scale-on-hover(1.04);
    background-color: $primary-dark;
    border-radius: 10px;
    border: 1px solid $faded-white;
    cursor: pointer;
    margin: 0.8em 0;
    overflow: hidden;
    user-select: none;
    .image { width: 100%; }
    .details {
      padding: 1em;
      @media (max-width: $break-md) { padding: 1em 0; }
      .title { font-size: 1.5em; }
      .date { font-size: .9em; }
      .description { font-size: 1em; }
    }
  }
}

/************
*** single.js
*************/

.entity {
  margin: 1em 0;
  .image {
    border-radius: 8px;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 40%;
    @media (max-width: $break-md) { width: 100%; }
  }
  .details {
    .title {
      font-size: 2em;
      @media (max-width: $break-md) { font-size: 1.7em; }
    }
    .subtitle {
      font-size: 1.1em;
      @media (max-width: $break-md) { font-size: 1em; }
    }
    .description {
      font-size: 1.2em;
      @media (max-width: $break-md) { font-size: 1em; }
    }
  }
}

/*************
*** form.js
*************/

.form { @extend .responsive-form; }