
@import "variables";

.grid {
  border-bottom: $border;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  width: 100%;
  @media (max-width: $break-lg) { grid-template-columns: repeat(4, 25%); }
  @media (max-width: $break-md) { grid-template-columns: repeat(3, calc(100% / 3)); }
  @media (max-width: $break-sm) { grid-template-columns: repeat(2, 50%); }
  .cell {
    border: $secondary-border;
    .image { width: 100%; }
    .details {
      background-color: $primary-dark;
      border-top: $secondary-border;
      padding: 0.8em 0;
      text-align: center;
      .title {
        color: white;
        font-family: $title-font;
        font-size: 1.2em;
        text-decoration: none;
      }
      .date {
        color: white;
        font-family: $body-font;
        font-size: 0.8em;
        text-decoration: none;
      }
    }
  }
  
}

.toolbar {
  background-color: $toolbar;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0%;
  height: 5vh;
  position: sticky;
  width: 100%;
  .view {
    max-height: 100%;
  }
  .sort {
    max-height: 100%;
  }
}