@import "variables";

.list {
  .item {
    @include scale-on-hover(1.03);
    cursor: pointer;
    margin: 0.8em 0;
    overflow: hidden;
    .image {
      border: .1em inset rgb(235, 235, 235);
      border-radius: 45%; 
      width: 100%;
      @media (max-width: $break-md) {
        border: none;
        border-radius: 10%; } }
    .details {
      padding: 1em;
      @media (max-width: $break-md) { padding: 1em 0; }
      .title {
        font-size: 1.6em;
        @media (max-width: $break-md) { font-size: 1.4em; }}
      .subtitle {
        font-size: 1.2em;
        @media (max-width: $break-md) { font-size: 1em; }}
      .paragraph {
        font-size: 1.2em;
        @media (max-width: $break-md) { font-size: 1em; }}
    }
  }
}

/************
*** single.js
*************/

.entity {
  margin: 1em 0;
  .image {
    border-radius: 15%;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em;
    width: 55vh;
    @media (max-width: $break-md) { width: 100%; }
  }
  .details {
    .title {
      font-size: 2em;
      @media (max-width: $break-md) { font-size: 1.7em; }
    }
    .subtitle {
      font-size: 1.1em;
      @media (max-width: $break-md) { font-size: 1em; }
    }
    .description {
      font-size: 1.2em;
      @media (max-width: $break-md) { font-size: 1em; }
    }
  }
}

/*************
*** form.js
*************/

.form { @include responsive-form; }