
@import "variables";

.imageLogo {
  @extend .responsive-container
}

.container {
  @extend .responsive-container;
  padding: 1.5em 1em;
  .text {
    @extend .text;
    font-size: 1.2em;
    @media (max-width: $break-md) { font-size: 1em; }
  }
}