<footer class="container footer">
  <div class="footer-content">
    <p>
      You are receiving this email because you opted into the #WOKEWeekly's
      mailing list. If you no longer wish to receive such emails,
      <a href="<%= domain %>/unsubscribe" class="hyperlink">unsubscribe here</a
      >.
    </p>
    <p>
      Got an issue with the link? Copy and paste this URL into your browser:
      <br />
      <a href="<%= url %>" class="hyperlink"><%= url %></a>
    </p>
  </div>
  <%- include("footer.ejs") %>
</footer>
