<footer class="container footer">
  <div>
    You are receiving this email because you opted into the #WOKEWeekly's
    mailing list. If you no longer wish to receive such emails,
    <a href="<%= domain %>/unsubscribe/<%= email %>" class="hyperlink"
      >unsubscribe here</a
    >.
  </div>
  <br />
  <div>
    Got an issue with the link? Copy and paste this URL into your browser:
    <br />
    <a href="<%= url %>" class="hyperlink"><%= url %></a>
  </div>
</footer>
