<div>
  Yours truly,<br />
  The #WOKEWeekly Team.

  <hr style="margin-top: 0.8em;" />
  <img
    src="<%= cloudinary.url %>/w_175/public/logos/email-signature.png"
    class="signature"
    alt="#WOKEWeekly"
  />
</div>
